*.patch
*.o
*.a
*.la
*.lo
*~
*.orig
*.rej
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
depcomp
compile
configure
*.rules
*.fdi
*.hwdb
*.pc
*.usermap
hotplug.sh
install-sh
libmtp.sh
libtool
ltmain.sh
missing
stamp-h1
